.main{
    display: flex;
    width: 60rem;
    height: 350px;
    background-color: red;
    border-radius: 1rem;
}
.picture{
    position: relative;
    width: 36rem;
    height: 350px;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.drawers{

    position: absolute;
}
.articlePage{
    padding: 3rem;
}
.source{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile> img{
    border-radius: 50%;
    height: 4rem;
}