 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@00&display=swap');

 *{
  margin: 0;
  padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    height: 100vh;
}
